@page "/customers/details"
@using Microsoft.EntityFrameworkCore
@using QuickGridDemo.Data
@using QuickGridDemo.Models
@inject IDbContextFactory<QuickGridDemo.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Customer</h2>
    <hr />
    @if (customer is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CompanyName</dt>
            <dd class="col-sm-10">@customer.CompanyName</dd>
            <dt class="col-sm-2">ContactName</dt>
            <dd class="col-sm-10">@customer.ContactName</dd>
            <dt class="col-sm-2">ContactTitle</dt>
            <dd class="col-sm-10">@customer.ContactTitle</dd>
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@customer.Address</dd>
            <dt class="col-sm-2">City</dt>
            <dd class="col-sm-10">@customer.City</dd>
            <dt class="col-sm-2">Region</dt>
            <dd class="col-sm-10">@customer.Region</dd>
            <dt class="col-sm-2">PostalCode</dt>
            <dd class="col-sm-10">@customer.PostalCode</dd>
            <dt class="col-sm-2">Country</dt>
            <dd class="col-sm-10">@customer.Country</dd>
            <dt class="col-sm-2">Phone</dt>
            <dd class="col-sm-10">@customer.Phone</dd>
            <dt class="col-sm-2">Fax</dt>
            <dd class="col-sm-10">@customer.Fax</dd>
        </dl>
        <div>
            <a href="@($"/customers/edit?customerid={customer.CustomerID}")">Edit</a> |
            <a href="@($"/customers")">Back to List</a>
        </div>
    }
</div>

@code {
    private Customer? customer;

    [SupplyParameterFromQuery]
    private string CustomerID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        customer = await context.Customers.FirstOrDefaultAsync(m => m.CustomerID == CustomerID);

        if (customer is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
